body{
	height: 100vw;
	background-color: pink;
}

#head{
	position:fixed;
	margin:-10vw;
	width: 120vw;
	height: 70vw;
	background-color: white;
}

#title {
	margin-top: 30vw;
	margin-left: 48vw;
	text-align: center;
	font-size: 100px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color:#ff6f69;
}

.up-top{
	font-size: 20px;
	margin-top: 5%;
}


p{
	position:fixed;
	letter-spacing: 8px;
	text-align: center;
	font-size: 50px;
	margin-top: 10vw;
	margin-left: 25vw;
	font-family: 'Raleway', sans-serif;
	font-weight: thin;
	color: #ff6f69;
}


/*why not showing*/
p.dotted {border-style: dotted;}


#img1{
	margin-top: 22vw;
	margin-left: 39vw;
	position:fixed;
    width: 300px;
    height: 300px;
    transition:1s;
}

#img1:hover{
	cursor: pointer;
 	animation: shake 0.5s;
 	animation-iteration-count: 2;
}

@keyframes shake {
	60% { transform: translate(-5px, 1px) rotate(-30deg); }
}



/*img:hover { 
    transition: 2s;
    transform: rotate(45deg);
}*/

#rect{
	margin-top: 20px;
	position: fixed;
	margin-left: 300px;
    width: 1000px;
    height: 550px;
    display: none;
    background-color: #ffcc99, 50%;
}


#side{
	margin-top: 380px;
	margin-left: 160px;
	position: fixed;
	height: 220px;
	width: 320px;
	background-color: white;
	display: none;
}


#a{
	margin-top: -10px;
	height: 100vw;
	width: 10vw;
	position:fixed;
}

.a{
	margin-left: -10px;
	background-color: #d7f0f7;
}

.a1{
	margin-left:9vw;
	background-color: #c6e2ec;
}

.a2{
	margin-left: 19vw;
	background-color: #aed9e5;
}

.a3{
	margin-left: 29vw;
	background-color: #d7f0f7;
}

.a4{
	margin-left: 39vw;
	background-color: #c6e2ec;
}
.a5{
	margin-left: 49vw;
	background-color: #d7f0f7;
}

.a6{
	margin-left: 59vw;
	background-color: #c6e2ec;
}

.a7{
	margin-left: 69vw;
	background-color: #d7f0f7;
}

.a8{
	margin-left: 79vw;
	background-color: #aed9e5;
}

.a9{
	margin-left: 89vw;
	background-color: #c6e2ec;
}

.a10{
	margin-left: 99vw;
	background-color: #aed9e5;
}

/*.a11{
	margin-left: 100vw;
	background-color: #aed9e5;
}*/

/*.a12{
	background-color: #d7f0f7;
}

.a13{
	background-color: #aed9e5;
}

.a14{
	margin-top: 320px;
	margin-left: 1120px;
	height: 110px;
	width: 110px;
	background-color: #c6e2ec;
}

.a15{
	margin-top: 290px;
	margin-left: 1160px;
	height: 120px;
	width: 120px;
	background-color: #d7f0f7;
}
*/
/*.z{
	float: left;
	height:400px;
	width: 20px;
	margin-left: 70px;
	background-color: white;
	border: 6px solid red;
}*/

.menu{
	float:left;
	background-color: #ffcc5c;
	border-left: 6px solid #ff6f69;
}