body{
	height: 100vw;
	background-color: #f9abbb;
}

#head{
	position:fixed;
	margin:-10px;
	width: 1700px;
	height: 1000px;
	background-color: white;
	opacity: 50%;
}

#title {
	padding:350px;
	text-align: center;
	font-size: 100px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color:#ff6f69;
}

p{
	letter-spacing: 5px;
	text-align: center;
	font-size: 25px;
	margin-left: 10px;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: thin;
	color: #ff6f69;
}


/*why not showing*/
p.dotted {border-style: dotted;}


#img1{
	margin-top: 70px;
	margin-left: 180px;
	position:fixed;
    width: 250px;
    height: 250px;
}

#img2{
	position:fixed;
	margin-top: 350px;
	margin-left: 650px;
	width: 737px;
    height: 350px;
}

#img3{
	position:fixed;
	margin-top: 40px;
	margin-left: 800px;
	width: 350px;
    height: 350px;
}

#img4{
	position:fixed;
	margin-top: 320px;
	margin-left: 120px;
	width: 400px;
    height: 370px;
}

#broder{
	margin:auto;
	height:500px;
	width: 1000px;
	border: 6px solid #ff6f69;
}

/*img:hover { 
    transition: 2s;
    transform: rotate(45deg);
}*/

#rect{
	margin-top: 20px;
	position: fixed;
	margin-left: 300px;
    width: 1000px;
    height: 550px;
    display: none;
    background-color: #ffcc99, 50%;
}


#side{
	margin-top: 380px;
	margin-left: 160px;
	position: fixed;
	height: 220px;
	width: 320px;
	background-color: white;
	display: none;
}

#a{
	border-radius: 50%;
	position:fixed;
}

.a{
	margin-top: 330px;
	margin-left: 800px;
	height: 50px;
	width: 50px;
	background-color: #d7f0f7;
}

.a1{
	margin-left: 1100px;
	height: 90px;
	width: 90px;
	margin-top: 250px;
	background-color: #c6e2ec;
}

.a2{
	margin-left: 1200px;
	height: 70px;
	width: 70px;
	margin-top: 330px;
	background-color: #aed9e5;
}

.a3{
	height: 30px;
	width: 30px;
	margin-top:200px;
	margin-left: 1100px;
	background-color: #d7f0f7;
}

.a4{
	margin-top: 300px;
	margin-left: 700px;
	height: 50px;
	width: 50px;
	background-color: #c6e2ec;
}
.a5{
	margin-top: 300px;
	margin-left: 900px;
	height: 100px;
	width: 100px;
	background-color: #d7f0f7;
}

.a6{
	margin-top: 260px;
	margin-left: 800px;
	height: 90px;
	width: 90px;
	background-color: #c6e2ec;
}

.a7{
	margin-top: 340px;
	margin-left: 850px;
	height: 50px;
	width: 50px;
	background-color: #d7f0f7;
}

.a8{
	margin-top: 280px;
	margin-left: 880px;
	height: 80px;
	width: 80px;
	background-color: #aed9e5;
}

.a9{
	margin-top: 280px;
	margin-left: 760px;
	height: 30px;
	width: 30px;
	background-color: #c6e2ec;
}

.a10{
	margin-top: 320px;
	margin-left: 730px;
	height: 70px;
	width: 70px;
	background-color: #aed9e5;
}

.a11{
	margin-top: 320px;
	margin-left: 1000px;
	height: 60px;
	width: 60px;
	background-color: #aed9e5;
}

.a12{
	margin-top: 330px;
	margin-left: 1050px;
	height: 80px;
	width: 80px;
	background-color: #d7f0f7;
}

.a13{
	margin-top: 300px;
	margin-left: 1100px;
	height: 50px;
	width: 50px;
	background-color: #aed9e5;
}

.a14{
	margin-top: 320px;
	margin-left: 1120px;
	height: 60px;
	width: 60px;
	background-color: #c6e2ec;
}

.a15{
	margin-top: 290px;
	margin-left: 1160px;
	height: 70px;
	width: 70px;
	background-color: #d7f0f7;
}

/*.z{
	float: left;
	height:400px;
	width: 20px;
	margin-left: 70px;
	background-color: white;
	border: 6px solid red;
}*/

.menu{
	float:left;
	background-color: #ffcc5c;
	border-left: 6px solid #ff6f69;
}